<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Litter url</title>
</head>
<body>
	<h1>litter url</h1>
	<h2>exmaple</h2>
	<ul>
		<li>https://guarded-brushlands-65308.herokuapp.com/new/http://baidu.com</li>
		<li>https://guarded-brushlands-65308.herokuapp.com/new/2</li>
	</ul>
</body>
</html>